.container{
    width: 1020px;
}

.issue-body{
    margin-left: 20px;
    margin-right: 20px;
}

.issue-header-show__button{
    float: right;
    margin-top: 3px;
}

.issue-header-show__title{
    margin-right: 150px;
    font-weight: normal;
    line-height: 1.125;
}

.issue-header-show__text-header{

}

.issue-header-show__number{
    font-weight: 300;
    color: #a3aab1;
    letter-spacing: -1px;
}

.issue-header-meta{
    margin-bottom: 15px;
    padding-top: 4px;
}

.issue-header-meta__state{
    background-color: #2cbe4e;
    color: white;
    border-radius: 3px;
    padding: 4px 8px;
    padding-top: 0px;
    margin-right: 8px;
    font-weight: 600;
    display: inline-block;
}

.issue-header-meta__state::first-letter{
    font-size: 150%;    
}

.issue-header-meta__author{
    font-weight: bold;
    color: #586069;
    display: inline-block;
    margin-right: 5px;
}

.issue-header-meta__date{
    display: inline-block;
    margin-right: 5px;
}

.issue-header-meta__comments{
    display: inline-block;
}





.clear {
    clear: left; /* Отмена обтекания */
}