.container{
    width: 1020px;
}

.issue-body{
    margin-left: 20px;
    margin-right: 20px;
}

.issue-header-show__button{
    float: right;
    margin-top: 3px;
}

.issue-header-show__title{
    margin-right: 150px;
    font-weight: normal;
    line-height: 1.125;
}

.issue-header-show__text-header{

}

.issue-header-show__number{
    font-weight: 300;
    color: #a3aab1;
    letter-spacing: -1px;
}



.clear {
    clear: left; /* Отмена обтекания */
}