.pagination-block{
    border: 1px solid rgb(0, 107, 222);
    border-right: none;
}

.pagination-block__button{
    background-color: white;
    border: none;
    border-right: 1px solid rgb(0, 107, 222);
    padding: 5px 10px;
    cursor: pointer;
}

.pagination-block__button:hover{
    color: rgb(0, 107, 222);
}

.pagination-block__button--active{
    background-color: rgb(0, 107, 222);
    color: white;
}

.pagination-block__button--disabled:hover{
    color: rgb(128, 128, 128);
    cursor: default;
}

.pagination-block__button--active:hover{
    color: white;
}