.pagintaionButtons{
    padding: 10px;
    color: rgb(0, 107, 222);
    background-color: white;
}

.pagintaionButtons a{
    padding: 10px;
}

.pagintaionButtons a:hover{
}

.active{
    background-color: rgb(0, 107, 222);
    color: white;
}

.active:hover{
    color: white;
}