.pagination-block{
    border: 1px solid rgb(0, 107, 222);
    border-right: none;
}

.pagination-block__button{
    background-color: white;
    border: none;
    border-right: 1px solid rgb(0, 107, 222);
    padding: 5px 10px;
}

.pagination-block__button--active{
    background-color: rgb(0, 107, 222);
    color: white;
}

.pagination-block__link{
    color: black;
}

.pagination-block__link--active{
    color: white;
}

.pagination-block__link--active:hover{
    color: white;
}