.list-issue-header{
    background-color: #f6f8fa;
    border: 1px solid #e1e4e8;
    border-radius: 3px 3px 0 0;
    padding: 13px;
}

.list-issue{
    width: 100%;
    margin-top: 20px;
    border: 1px solid rgb(225, 228, 232);
}

.pagination{
    display: inline-block;
    margin-right: 20px;
}

.pagination__prev,
.pagination__next{
    padding: 5px 10px;
}

.pagination__page{
    margin-left: 10px;
    margin-right: 10px;
}

.select-block{
    display: inline-block;
    width: 80px;
    height: 30px;
}

.search{
    width: 300px;
}

.search__login,
.search__repository,
.search__button{
    width: 300px;
    display: block;
    margin-bottom: 5px;
    box-sizing: content-box;
    padding:0;
}

@media (min-width: 576px) {    
    .search{
        width: 100%;
    }
    .search__login,
    .search__repository,
    .search__button{
        width: 170px;
        display: inline-block;
        margin-right: 5px;
    }
}


@media (min-width: 768px) {

}

@media (min-width: 978px) {

}