.container{
    width: 100%;
    /* padding-left: 20px;
    padding-right: 20px; */
    padding: 20px;
}

pre{
    overflow-y: scroll;
}

.clear {
    clear: both; /* Отмена обтекания */
}

.back-button{
    float: right;
    margin-top: 3px;
    margin-right: 20px;
}

@media (min-width: 576px) {
    .container{
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container{
        max-width: 720px;
    }
}

@media (min-width: 978px) {
    .container{
        max-width: 960px;
    }
}